# Built application files
build/
.gradle/
/output/*
!/output/articles.js
!/output/styles.css
!/output/assets/
output/assets/styles.*.css
output/assets/theme.*.js
!/output/images/

.env

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# direnv
.envrc

.kotlin/
.idea/
local.properties

.wrangler/
node_modules/
